# exlude storybook folders
stories/
storybook/
.storybook/
*.stories.tsx
*.d.tsx

# Exclude configuration files
*.config.js
*.config.ts
*.config.json

# Exclude test directories and files
tests/
test/
__tests__/
*.spec.js
*.spec.ts
*.test.js
*.test.ts

# Exclude build directories
dist/
build/