# exlude storybook folders
stories/
storybook/
.storybook/
*.stories.tsx

# Exclude configuration files
*.config.js
*.config.ts
*.config.json

# Exclude test directories and files
tests/
test/
__tests__/
*.spec.js
*.spec.jsx
*.spec.tsx
*.test.js
*.test.jsx
*.test.tsx
*.test.ts
*.spec.ts

node_modules/